<html>


  <body style="background-image: url(../../assets/blue.jpeg) ;">
  <h1 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 100px; font-weight:bolder; 
    padding: 100px; color:#ffffff; text-shadow:6px 2px 1px #463f3a">FLORENCE SHOP</h1> 
    <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 50px; font-weight:bold; text-align:center; 
    padding: 20px; color:#ffffff; text-shadow:6px 2px 3px #6b705c;">SELAMAT DATANG DI TOKO BUNGA KAMI</p>
    <h2 style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 50px; font-weight:bold; text-align:center;
    padding: 30px; color:#ffffff; text-shadow:6px 2px 3px #6b705c;">SEMOGA PUAS</h2>
    
    
    <button mat-raised-button color="warn" routerLink="/login" style="margin-left: 420px; ">LOGIN</button>
    <button mat-raised-button  routerLink="/register" style="margin-left: 330px; ">REGISTER</button>
 
</body>
</html>
